################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SASE-Concept/FileContentIndex
/.vs/SASE-Concept/v17
*.sqlite
/.vs/VSWorkspaceState.json
